<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
    <target name="file" xsi:type="File"
        fileName="${basedir}/logs/log_${shortdate}.log"
        layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
        concurrentWrites="false" keepFileOpen="false"/>
    <target name="console" xsi:type="ColoredConsole"
        layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />

    <target xsi:type="ElasticSearch"
            name ="elastic"
            layout="${message}"
            index="logs"
            uri="http://192.168.1.222:9200">
      <field name="serverid" layout="singlegame-1" layoutType="System.String"/>
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console"/>
    <logger name="*" minlevel="Debug" writeTo="file"/>
    <!--<logger name="*" minlevel="Debug" writeTo="elastic"/>  -->
  </rules>
</nlog>