front{
  actorsystem: "godgaming" #POPULATE NAME OF YOUR ACTOR SYSTEM HERE
  http {
		baseurl = "http://*:8888"
  }
  database {
		ip			= "127.0.0.1"
		port		= 1433
		user		= "sa"
		pass		= "kir_star1996"
		dbname		= "gitslotpark_pgsoft"
  }
  redis {
		ip			= "127.0.0.1"
		port		= 6379
		password	= ""
		database	= 2
  }
  apiconfig {
		operatorguid = "43be6494-bfa7-4603-ad79-1043c23bc256"
		tokenkey	 = "fd973747b689447fb360c89f9612baa9"
  }
}

akka {
	loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
	actor {
		provider = cluster
		deployment {            								
			/userRouter {
				router = round-robin-group
				routees.paths = ["/user/userManager"]
				cluster {
					enabled = on
					allow-local-routees = off
					use-role = user
				}
			}
			/redisWriter {
				router 			= consistent-hashing-pool
				nr-of-instances = 5
			}
			/httpWorkers {
				router 			= consistent-hashing-pool
				nr-of-instances = 20
			}
			/httpAuthWorkers {
				router 			= consistent-hashing-pool
				nr-of-instances = 20
			}
			/httpReplayWorkers {
				router 			= consistent-hashing-pool
				nr-of-instances = 20			
			}
			/httpHistoryWorkers {
				router 			= consistent-hashing-pool
				nr-of-instances = 20						
			}
		}
	}
						
	remote {
		dot-netty.tcp {
				hostname = "127.0.0.1"
				port     = 9083
				maximum-frame-size = 2048000b
			}
	}			

	cluster {
		seed-nodes = ["akka.tcp://godgaming@127.0.0.1:4056"]
		roles = ["front"]
	}
}