 slotgames{
  actorsystem: "gitigaming" #POPULATE NAME OF YOUR ACTOR SYSTEM HERE
  database {
		ip			= "192.168.88.34"
		port		= 1433
		user		= "sa"
		pass		= "123123"
		dbname		= "gitigaming_api"
		poolcount	= 10
  }
  redis {
		ip			= "127.0.0.1"
		port		= 6379
		password	= ""
		database	= 0
  }
  seednodes = ["akka.tcp://gitigaming@127.0.0.1:4055"]
  cq9 {
		historyurl	= "http://localhost:56180/cq9/platform/" 
  }
  habanero {
		replayurl	= "http://localhost:56180/habanero/watch/" 
  }
}

akka {
	loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
	actor {
		provider = cluster
		deployment {            								
			
			/gameManager {
				router			= round-robin-pool
				nr-of-instances = 1
			}
			/commServers {
				router        = broadcast-group
				routees.paths = ["/user/bootstrapper"]
				cluster {
					enabled				= on
					allow-local-routees = off
					use-role			= comm
				}
			}
			/apiWorker {
				router	      = broadcast-group
				routees.paths = ["/user/httpWorkers"]
				cluster {
					enabled				= on
					allow-local-routees = off
					use-role			= apiserver
				}
			}
			/redisWriter {
				router 			= consistent-hashing-pool
				nr-of-instances = 5
			}
		}
	}
						
	remote {
		dot-netty.tcp {
				hostname = "127.0.0.1"
				port     = 8082
				maximum-frame-size = 2048000b
			}
	}			

	cluster {
		roles = ["slotgame"]
	}
}