.vs/

ApiIntegration/.vs/
ApiNode/.vs/
FrontNode/.vs/
GITProtocol/.vs/
Lighthouse/.vs/
SlotNode/.vs/
UserNode/.vs/

packages/

ApiIntegration/bin/
ApiIntegration/obj/
ApiNode/bin/
ApiNode/obj/
FrontNode/bin/
FrontNode/obj/
GITProtocol/bin/
GITProtocol/obj/
Lighthouse/bin/
Lighthouse/obj/
SlotNode/bin/
SlotNode/obj/
UserNode/bin/
UserNode/obj/

ApiIntegration/config.hocon
ApiNode/config.hocon
FrontNode/config.hocon
SlotNode/config.hocon
UserNode/config.hocon